<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<p><%= @error %>

<p>Balance: <%= @user.balance %>

<p><a href="/deposit">Deposit Money</a></p>
<p><a href="/withdraw">Withdraw Money</a></p>

<p><a href="/logout">Log Out</a></p>
