<h3>How much money would you like to deposit?</h3>
<form action="/deposit" method='POST'>
    <label>Amount: </label>
    <input type='text' name='amount'>
    <br>
    <input type="submit" value="Deposit">
</form>